__pycache__
__pycache__/*
client/screen_old/__pycache__/*
client/__pycache__/
client/screen_old/__pycache__/new_goal.cpython-37.pyc
.history/
.idea/
client/db/main.db
db/
/build/
*.spec
/dist/
/dist/*
dist/
base_library.zip